@model IEnumerable<WidgetCorporation.Models.CartDetails>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CartID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductQuantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CartID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductQuantity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CartDetSeqID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CartDetSeqID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CartDetSeqID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
